
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.bannerorder {
    background-image: url(https://media.giphy.com/media/rvAf7QWSGnWec/giphy.gif);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 500px;
}
.sc_height_500 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}
.sc_height_auto {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.sc_height_250 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
}
.Red_bkg{
    background-color: red;

}
.Blue_bkg{
    background-color: blue;

}
.white_bkg{
    background-color: white;

}
.about_bkg{
    background-color: #f05f40;

}
.displayFlex{
    display:flex;
}
.blackBkg{
    background-color: black;

}
.noPadding{
    padding: 0 0 0 0 !important;
}
.noMargin{
    margin-right: 0;
    margin-left: 0;
}
.pictureorder {
    width: 78%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.margin-center {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}
.font-colour_white{
    color: white;
}
.font-size-65{
    font-size: 65px;
}
.text-align-center{
    text-align: center
}
.font-size-18{
    font-size: 18px;
}
.banner-line_orange{
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px
}
.banner-line_white{
    max-width: 50px;
    border-color: white;
    border-width: 3px
}
.icon_size_4x{
    font-size: 4ex;
}
.icon_colour_orange{
    color: #ff1818;
}
.text_colour{
    color: #777;
}
.sc_height_auto{
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.hint{
    opacity: 0;
    background: rgba(240,95,64,.9);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6)
}
.hint:hover {
    opacity: 1;
 }
 .hint span.word {
    display: block;
    font-size: 1.5rem;
    color: #fff;
    text-transform: capitalize;
 }
 .banner-line_blue{
    max-width: 500px;
    border-color: #4069f0f6;
    border-width: 6px
}
.navbar {
    background: #fff;
    border-bottom: solid 1px #fff;
    opacity: 1;
    color: #000000 !important;
    font-weight: bold;
}
.solid {
    background: #fff;
    border-bottom: solid 1px #fff;
    opacity: 1;
    transform: 0.5s;
}
.nav-link.active {
    color: #f05f40 !important;
    font-weight: bold;
}
.navbar-brandActive {
    color: #f05f40 !important;
    font-size: 1.3rem;

}